<?xml version="1.0"?>

<launch>

<!--  <node pkg="hector_heat_detection" type="heat_detection" name="heat_detection" output="screen">
    <remap from="thermal/image" to="/arm_thermal_cam/image_converted" /> 
  </node>-->
  
  <arg name="node_name" default="serval_nodelet_loader" />
  <arg name="nodelet_manager_name" default="arm_thermal_cam_nodelet_manager" />
  <arg name="image_topic" default="image" /> 
  <arg name="trigger_topic" default="default" />   
  <arg name="save_folder" default="/tmp" />   
  <arg name="add_script_executable_name" default="/s_addallfiles " />
  <arg name="scripts_folder" default="/home/taurob/serval/servald-helpers" />
  <arg name="image_name" default="image_color" /> 
  
  <node pkg="nodelet" type="nodelet"
    name="$(arg node_name)" 
    args="load serval_ros_bridge/image_to_serval_nodelet $(arg nodelet_manager_name)" 
    output="screen"
    respawn="true">
    <remap from="~/image" to="$(arg image_topic)" />    
    <remap from="~/trigger_topic" to="$(arg trigger_topic)" />
    <param name="save_folder" value="$(arg save_folder)"/>
    <param name="add_script_executable_name" value="$(arg add_script_executable_name)" />
    <param name="scripts_folder" value="$(arg scripts_folder)"/>
    <param name="image_name" value="$(arg image_name)"/>
  </node>  

</launch>
